<div class="breadcrumb">
    <div class="container">
      <div class="breadcrumb-inner">
        <ul class="list-inline list-unstyled">
          <li><a routerLink="../admin-dashboard">Home</a></li>
          <li class="active">Testimonials</li>
        </ul>
      </div>
      <!-- /.breadcrumb-inner -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.breadcrumb -->
  
  <div class="body-content outer-top-xs">
    <div class="container">
      <div class="row ">
        <div class="shopping-cart">
          <div class="shopping-cart-table ">
            <div class="row">
              <div class="col-lg-6">
                <h2>Testimonials</h2>
              </div>
              <div class="col-lg-6">
                  <a routerLink="../admin-testimonial" class="btn btn-primary pull-right">Add Testimonial</a>
              </div>
              <div class="col-lg-12">
                <hr />
              </div>
            </div>
  
            <div class="table-responsive">
              <table class="table table-bordered table-stripped">
                <thead>
                  <tr>
                    <th>Action</th>
                    <th>No</th>
                    <th>name</th>
                    <th>details</th>
                    <th>Image</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let testimonial of data;let i = index;">
                    <td style="text-align:center;">
                      <a routerLink="../admin-testimonial/{{ testimonial.id}}">Edit</a>&nbsp;
                      <a style="cursor: pointer;" (click)="deleteproduct(testimonial.id)">Delete</a>
                    </td>
                    <td style="text-align:center;">{{ (i + 1) }}</td>
                  
                    <td style="text-align:center;">{{ testimonial.name }}</td>
                    <td style="text-align:center;">{{ testimonial.details }}</td>
                    <td style="text-align:center;"><img src="{{ baseurl + testimonial.imagepath }}" style="height:50px; width:auto;" /></td>
                    
                  </tr>
                </tbody>
                <!-- /tbody -->
              </table>
              <!-- /table -->
            </div>
          </div>
        </div>
        <!-- /.shopping-cart -->
      </div>
      <!-- /.row -->
      <!-- ============================================== BRANDS CAROUSEL ============================================== -->
  
      <!-- /.logo-slider -->
      <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.body-content -->
  

